.btn {
    text-decoration: none;
    font-size: 2.4rem;
    padding: 10px 20px;
    display: inline-block;
    &--primary {
        @include button(#FFF, $color-dark);
    }
    &--secondary {
        @include button($main-color, #FFF);
    }
    &--tertiary {
        @include button($main-color, $color-dark);
    }
}