.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.text-white {
    color: #FFF !important;
}

.h-100 {
    height: 100%;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.p-4 {
    padding: 4rem;
}
.p-5 {
    padding: 5rem;
}


.float-left {
    float: left;
}
.float-right {
    float: right;
}

.pre-line {
    white-space: pre-line;
}