section.announcements {
    background: url("../img/ogloszenia-bg.png") no-repeat;
    background-size: cover;
    background-position: center center;

    img {
        margin-right: 20px;
        margin-bottom: 10px;
    }
}