$main-color: #af9951;
$main-color-brighter: #decb8b;
$main-color-rgb: rgb(174, 152, 80);
$main-color-brighter-rgb: rgb(222, 203, 139);
$main-color-rgba: rgba(174, 152, 80, 0.8);
$main-color-brighter-rgba: rgba(222, 203, 139, 0.8);

$color-dark: #3a3a3c;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$sm-max: $sm - 1;

$md-max: $md - 1;
$lg-max: $lg - 1;
$xl-max: $xl - 1;